<!DOCTYPE html>
<html>
  <head>
    <script src="../scripts/jquery-3.2.0.js"></script>
    <script src="../scripts/bootstrap.js"></script>
    <script src="../scripts/scripts.js"></script>
    <link href="../css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="../css/styles.css" type="text/css" rel="stylesheet">
    <title>Project Title</title>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <li><a href ="/">Home</a></li>
        <li><a href ="/stylist">Stylist</a></li>
      </div>
    </nav>
    <div class="container">
